.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #003827;
    box-shadow: -19px 19px 41px 7px rgba(0,0,0,0.79);
    -webkit-box-shadow: -19px 19px 41px 7px rgba(0,0,0,0.79);
    -moz-box-shadow: -19px 19px 41px 7px rgba(0,0,0,0.79);
    min-width: 500px;
    min-height: 500px;
}

.category{
    margin: 50px;
}

.clickable{
    margin: 50px;
}

h3, li, ul{
    color: white;
}
